{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record]}.
{xref_checks, [fail_on_warning, undefined_function_calls]}.
{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.
{cover_enabled, true}.
{validate_app_modules, true}.

{deps,
  [
   {mochiweb,
    ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
   {jiffy,
    ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
   {erlzmq,
    ".*", {git, "git://github.com/zeromq/erlzmq2.git", {branch, "master"}}}
  ]
}.
